.gradio-container.gradio-container-4-44-1 .contain #component-2 .prose{
    font-size: var(--text-xl);
    font-weight: 800;
}

#component-0>*:nth-child(2){
    align-items: center;
}

#prep_button{
    background-color: white;
    color: rgb(0, 204, 0);
    border-color: rgb(0, 204, 0);
    border-style: solid;
    border-width: thin;
}

#prep_button:hover {
    background-color: #00CC00;
}

#tensor_markdown, #tensor_mark_fail, #tensor_mark_success {
    text-align: center;
}

#tensor_mark_success .prose p {
    background-color: white;
    color: #00CC00;
    font-weight: bold;
}

#tensor_mark_fail .prose p{
    background-color: white;
    color: red;
    font-weight: bold;
}

#model_fam_col , #model_type_col , #hf_col {
    min-width: min(300px, 100%);
    border-radius: 13px;
    border-width: medium;
    border-color: #00CC00;
    padding: 5px;
}

#model_fam_col #model_fam_btn_col {
    overflow-y: auto;
    height: 310px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#hf_col .form textarea {
    background-color: black;
    color: white;
}

#model_fam_btn_col > button{
    width: fit-content;
}

#model_fam_btn_col>:hover{
    background-color: #00CC00;
}

#model_fam_btn_col > button :focus{
    background-color: #00CC00;
}

#component-7 div .prose{
    padding: 1px;
    background-color: #CCCCCC;
    border-radius: var(--button-large-radius);
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

#component-7>*:nth-child(3) {
    max-width: max(320px, 20%);
}

#component-7>*:nth-child(3) .prose {
    background-color: #FFFF33;
}

#quantization_window textarea, #build_window textarea, #component-7 >*:nth-child(3) > .form input  {
    background-color: black;
    -webkit-text-fill-color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: smaller;
}

#chat_col {
    height: 460px;
}

#chat_col >*:nth-child(1) {
    background-color: silver;
}

#quantization_setting {
    height: 480px;
    display: flex;
    flex-wrap: nowrap;
}

#quantization_setting >*:nth-child(1) {
    overflow-y: auto;
    display: block;
}